.container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .Header{
    height: 56px;
    text-align: center;
    line-height: 25px;
  }
  .container .card {
    width: 400px;
    height: 500px;
    background-color: #28282b;
    color: #fff;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    margin: 15px 15px;
  }
  .container .cardContent {
    width: 100%;
    height: 100%;
    background-color: #28282b;
    color: #fff;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    margin: 15px 15px;
  }
  .container .line {
    width: 320px;
    height: 5px;
    margin-top: 10px;
    background-color: rgb(252, 208, 0);
  }
  .container .ProfileImg {
    width: 200px;
    height: 100px;
    margin-top: 10px;
    background-color: rgb(252, 208, 0);
  }
  .container .textContent{
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 165px;
  }
  .container .textAllContent{
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
  }
  .container .likeContent{
    width: 100%;
  }
  .container .likeContent .like , .container .likeContent .Comment {
    width: 50%;
    text-align: center;
    position: relative;
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
  }